<div class = "text-center mt-5">
  <h2 class = "mb-4" >本当に退会しますか？</h2>
  <p>
    退会すると、会員登録情報や<br>
    これまでの購入履歴が閲覧できなくなります。<br>
    退会する場合は、「退会」をクリックしてください。
  </p>
  <%= link_to "退会しない", customers_mypage_path, class:"btn btn-primary mr-1" %>
  <%= link_to "退会する", withdraw_customers_path, method: :patch, data: { confirm: 'ファイナルアンサー？？' }, class:"btn btn-danger" %>
</div>