
<div class ="mt-5" style="background-color: #001A43CA;">
  <div class = "gold" style ="border:solid 1px;">
    <div class= "gold" style ="border-bottom: solid 1px;">
      <p class ="gold" style="text-align: center; line-height:30px;">ジャンル検索</p>
      </div>
    
      <% genres.each do |genre| %>
      <p class ="gold"><%= genre.genre %></p><br>
      <% end %>

  </div>
</div>

