
<div class ="mt-5">
  <div class = "genre-border">
    <div class= "genre-border-1">
      <p class ="genre-line">ジャンル検索</p>
      </div>
    
      <% genres.each do |genre| %>
      <p class ="genre-line"><%= genre.genre %></p><br>
      <% end %>

  </div>
</div>

